$white: #FFFFFF;
$black: #212121;
$blue: #2E3A8C;
$green: #3B755F;
$beige: #F2EBDB;

$light-grey: #F9F9F9;
$dark-grey: #B0B0B0;
$light-green: #AFC6BD;
$color-options: '$white' '$black' '$blue' '$green' '$beige';
